<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/responsiveBox.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/views/about.html">About</a></li>
            </ul>
        </nav>
        </header>
        <h2>About Kiddom</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid eaque quod tempore beatae et ut voluptatem quia nam culpa porro saepe velit voluptate, consectetur aspernatur ex, aperiam tempora, hic vitae adipisci dicta nemo! At!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error numquam quas pariatur perferendis, eligendi veniam laborum repudiandae fuga, impedit nesciunt saepe consequatur eos nihil.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi dolorum asperiores, quasi obcaecati consequatur vitae aliquid at vel libero corrupti quam quibusdam expedita, sint quos.</p>
        <footer>Footer</footer>